
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: #141414;
	display: block;
	font-family: 'Press Start 2P', cursive;
	font-size: 65px;
	color: white;
}

.grow {
	transition: all .1s ease-in-out;
}
.grow:hover {
	transform: scale(1.1);
}

.pointer{
	cursor: pointer;
}
p{
	font-family: 'Press Start 2P', cursive;
	font-size: 65px;
	color: white;
	
}
* {
    font-family:'Press Start 2P', cursive;
	 font-size: 10px;
	color: yellow;
	 text-align: center;
	
  }
.top{
	height: 15%;
	width: 100%;
	display: flex;
	background-image:url("images/hi.jpg"); 
}

.title{
	height: 100%;
	width: 100%;
	display: flex;
	
}
.special:hover{
	-webkit-filter: grayscale(100%);
	filter: grayscale:(100%);
	transition: 0.3s;
}	
.second{
	height: 60%;
	width: 100%;
	display: flex;
	background-image:url("images/bg.gif"); 
	position:relative;
	min-width:100%;
	background-attachment:fixed;
	background-size:100% 100%;
	overflow: hidden;
}
.cube{
	height: 100%;
	width: calc(100%/3);
	display: flex;
}
.rectangle{
	height: 100%;
	width: 50%;
}
.third{
	height: 25%;
	width: 100%;
	display: flex;
}
.clip{
	height: 100%;
	width: 25%;
	display: flex;
}
.contain1 {
	max-height: 65%;
	max-width: 65%;
}
.contain4 {
	max-height: 50%;
	max-width: 50%;
}

.contain2 {
	max-height: 100%;
	max-width: 100%;
}
.opaque {
	opacity: 0.25;
}
.center-img {
	display: flex;
	align-items: center;
	justify-content: center;

}
.up{
	transform: translateY(50px);
	transition: transform 2s ease;
}
.upp{
	transform: translateY(170px);
	transition: transform 2s ease;
}
.hide{
	display:none;
	visibility: hidden;
}
.spin {
	transform: rotate(360deg);
	transition-duration: 0.5s;
}
.button-effect { 
    transform: scale(0.95, 0.95);
}
.button-effect:active { 
    transform: scale(0.95, 0.95);
	filter: drop-shadow(3px 4px 4px);
}
@media only screen and (max-width: 1000px ) {
.contain {
	max-height: 100%;
	max-width: 100%;
}
.top{
	height: 15%;
	width: 100%;
	display: flex;
	background-image:url("images/hi.jpg"); 
}

.title{
	height: 100%;
	width: 100%;
	display: flex;

}	
.second{
	height: 60%;
	width: 100%;
	display: block;
}
.cube{
	height: calc(100%/3);
	width: 100%;
	display: flex;
}
.rectangle{
	height: 100%;
	width: 50%;
	display: flex;
}
.third{
	height: 25%;
	width: 100%;
	display: flex;
}
.clip{
	height: 100%;
	width: 25%;
	display: flex;
}
.contain2 {
	max-height: 80%;
	max-width: 80%;
}
p{
	font-family: 'Press Start 2P', cursive;
	 font-size: 50px;
	color: black;
}

@media only screen and (max-width: 600px ) {
.contain {
	max-height: 100%;
	max-width: 100%;
}
.top{
	height: 15%;
	width: 100%;
	display: flex;
	background-image:url("images/hi.jpg"); 
}

.title{
	height: 100%;
	width: 100%;
	display: flex;
}	
.second{
	height: 60%;
	width: 100%;
	display: block;
}
.cube{
	height: calc(100%/3);
	width: 100%;
	display: flex;
}
.rectangle{
	height: 100%;
	width: 50%;
	display: flex;
}
.third{
	height: 55%;
	width: 100%;
	display: block;
}
.clip{
	height: 24%;
	width: 100%;
	display: flex;
}
.contain2 {
	max-height: 80%;
	max-width: 100%;
}
p{
	font-family: 'Press Start 2P', cursive;
	 font-size: 40px;
	color: black;
}
}

